* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

.main {
    background-color: #0F0D0D;
    cursor: none;
}

.page1{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
}

#nav{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
#nav img{
    height: 27px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav #circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
}
#nav h4{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}
.page1 h1{
    font-size: 8vw;
}